@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background 0.3s, color 0.3s;
}

/* Scrollbar'ı koyulaştırmak için: */
body::-webkit-scrollbar {
  width: 10px;
  background: #23232a;
}
body::-webkit-scrollbar-thumb {
  background: #32323e;
  border-radius: 5px;
}